
<div class="container">
    <div class="row">
      <div class="col-12">
        <p>{{title}}</p>
      </div>
      <div class="col-6">
        <input #nombre="ngModel" type="text" class="form-control" id="nombre" name="nombre" 
          placeholder="Producto nombre"
          [(ngModel)]="toUpdateProducto.nombre" 
          [ngClass]="{ 
            'is-invalid': nombre.invalid && nombre.touched,
            'is-valid': nombre.valid && nombre.touched
          }" 
          required 
        />
      </div>
      <div class="col-6">
        <input #descripcion="ngModel" type="text" class="form-control" id="descripcion" name="descripcion" 
          placeholder="Producto descripcion"
          [(ngModel)]="toUpdateProducto.descripcion" 
          [ngClass]="{ 
            'is-invalid': descripcion.invalid && descripcion.touched,
            'is-valid': descripcion.valid && descripcion.touched
          }" 
          required 
        />
      </div>
      <div class="col-6">
        <input #precio="ngModel" type="text" class="form-control" id="precio" name="precio" 
          placeholder="Producto precio"
          [(ngModel)]="toUpdateProducto.precio" 
          [ngClass]="{ 
            'is-invalid': precio.invalid && precio.touched,
            'is-valid': precio.valid && precio.touched
          }" 
          required 
        />
      </div>
      <div class="col-6">
        <input #cantidadEnStock="ngModel" type="text" class="form-control" id="cantidadEnStock" name="cantidadEnStock" 
          placeholder="Producto cantidadEnStock"
          [(ngModel)]="toUpdateProducto.cantidadEnStock" 
          [ngClass]="{ 
            'is-invalid': cantidadEnStock.invalid && cantidadEnStock.touched,
            'is-valid': cantidadEnStock.valid && cantidadEnStock.touched
          }" 
          required 
        />
      </div>
      <div class="col-6">
        <input #categoria="ngModel" type="text" class="form-control" id="categoria" name="categoria" 
          placeholder="Producto categoria"
          [(ngModel)]="toUpdateProducto.categoria" 
          [ngClass]="{ 
            'is-invalid': categoria.invalid && categoria.touched,
            'is-valid': categoria.valid && categoria.touched
          }" 
          required 
        />
      </div>
      
      <div class="col-6 mt-3">
        <button
          type="button"
          (click)="addEdit()"
          class="btn btn-primary d-flex align-items-center">
          <i class="fa-solid fa-pencil white me-2"></i>
          <p class="mb-0"> {{title}} </p>
        </button>
      </div>
    </div>
  </div>
  
  